appdirs @ file:///home/conda/feedstock_root/build_artifacts/appdirs_1603108395799/work
arabic-reshaper @ file:///home/conda/feedstock_root/build_artifacts/arabic_reshaper_1628145819382/work
astunparse @ file:///home/conda/feedstock_root/build_artifacts/astunparse_1610696312422/work
brotlipy==0.7.0
certifi==2021.5.30
cffi @ file:///D:/bld/cffi_1625835469330/work
chardet @ file:///D:/bld/chardet_1610093614045/work
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1602866480661/work
configobj==5.0.6
configparser @ file:///home/conda/feedstock_root/build_artifacts/configparser_1614550305463/work
cryptography @ file:///D:/bld/cryptography_1616851634866/work
cycler==0.10.0
decorator==4.4.2
dukpy @ file:///D:/bld/dukpy_1620745801688/work
esprima==4.0.1
et-xmlfile==1.0.1
freetype-py @ file:///home/conda/feedstock_root/build_artifacts/freetype-py_1594318845769/work
fsspec @ file:///tmp/build/80754af9/fsspec_1626383727127/work
future @ file:///D:/bld/future_1610147365175/work
gevent @ file:///D:/bld/gevent_1628419840004/work
gitdb @ file:///home/conda/feedstock_root/build_artifacts/gitdb_1616781027402/work
GitPython @ file:///home/conda/feedstock_root/build_artifacts/gitpython_1623994295351/work
glfw @ file:///D:/bld/pyglfw_1614550968683/work
greenlet @ file:///D:/bld/greenlet_1628272293651/work
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1593328102638/work
imageio @ file:///home/conda/feedstock_root/build_artifacts/imageio_1594044661732/work
imageio-ffmpeg @ file:///home/conda/feedstock_root/build_artifacts/imageio-ffmpeg_1629987409325/work
javascripthon==0.11
jdcal==1.4.1
json-tricks @ file:///home/conda/feedstock_root/build_artifacts/json_tricks_1606949734910/work
kiwisolver @ file:///D:/bld/kiwisolver_1610099971815/work
macropy3==1.1.0b2
matplotlib @ file:///D:/bld/matplotlib-suite_1611858808344/work
mock @ file:///D:/bld/mock_1610094783689/work
moviepy==1.0.1
msgpack @ file:///D:/bld/msgpack-python_1610121913322/work
msgpack-numpy @ file:///home/conda/feedstock_root/build_artifacts/msgpack-numpy_1601562624589/work
numexpr @ file:///D:/bld/numexpr_1630602524478/work
numpy @ file:///D:/bld/numpy_1626682185159/work
olefile @ file:///home/conda/feedstock_root/build_artifacts/olefile_1602866521163/work
openpyxl @ file:///home/conda/feedstock_root/build_artifacts/openpyxl_1615404969632/work
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1625323647219/work
pandas @ file:///D:/bld/pandas_1607423921518/work
pathlib2 @ file:///D:/bld/pathlib2_1625503345504/work
Pillow @ file:///D:/bld/pillow_1630696770108/work
proglog==0.1.9
psutil @ file:///D:/bld/psutil_1610127248133/work
PsychoPy @ file:///D:/bld/psychopy_1628794266845/work
psychtoolbox==3.0.17.8
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1593275161868/work
pygame==2.0.1
pyglet @ file:///D:/bld/pyglet_1618311616279/work
pyo==1.0.4
PyOpenGL==3.1.5
pyOpenSSL @ file:///home/conda/feedstock_root/build_artifacts/pyopenssl_1608055815057/work
pyosf==1.0.5
pyparsing==2.4.7
Pypubsub==4.0.3
pyqmix @ file:///D:/bld/pyqmix_1620986619063/work
PyQt5==5.12.3
PyQt5_sip==4.19.18
PyQtChart==5.12
PyQtWebEngine==5.12.1
pyserial @ file:///home/conda/feedstock_root/build_artifacts/pyserial_1606128640882/work
PySocks @ file:///D:/bld/pysocks_1610291695773/work
python-bidi==0.4.2
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1626286286081/work
python-gitlab @ file:///home/conda/feedstock_root/build_artifacts/python-gitlab_1630119897600/work
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1612179539967/work
pywin32==301
pyWinhook @ file:///D:/bld/pywinhook_1625093294233/work
PyYAML==5.4.1
pyzmq @ file:///D:/bld/pyzmq_1628233078981/work
questplus==2019.4
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1608156231189/work
requests-toolbelt==0.9.1
rope @ file:///tmp/build/80754af9/rope_1623703006312/work
ruamel.yaml @ file:///D:/bld/ruamel.yaml_1630314251701/work
ruamel.yaml.clib @ file:///D:/bld/ruamel.yaml.clib_1610147053462/work
scipy @ file:///C:/bld/scipy_1629411592125/work
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
smmap @ file:///home/conda/feedstock_root/build_artifacts/smmap_1611376390914/work
sounddevice @ file:///home/conda/feedstock_root/build_artifacts/python-sounddevice_1601221456362/work
SoundFile==0.10.3.post1
tables==3.6.1
tornado @ file:///D:/bld/tornado_1610094881553/work
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1629742505296/work
typing-extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1622748266870/work
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1624634538755/work
webassets==2.0
websocket-client==1.2.1
win-inet-pton @ file:///D:/bld/win_inet_pton_1610147511403/work
wxPython==4.1.1
xarray @ file:///home/conda/feedstock_root/build_artifacts/xarray_1621474818012/work
xlrd @ file:///home/conda/feedstock_root/build_artifacts/xlrd_1610224409810/work
zope.event @ file:///home/conda/feedstock_root/build_artifacts/zope.event_1600479883063/work
zope.interface @ file:///D:/bld/zope.interface_1618486225842/work
